<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-floppy-o"></i></span>Guardar
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa fa-pencil-square-o"></i></span>Editar
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-eraser"></i></span>Limpiar
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-search"></i></span>Buscar
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-ban"></i></span>Cancelar
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-file-text"></i></span>Facturar
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-print"></i></span>Imprimir
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-arrow-right"></i></span>Siguiente
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-arrow-left"></i></span>Anterior
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-eye"></i></span>Ver
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-envelope"></i></span>C. Electronico
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-plus"></i></span>Agregar
</button>

<button type="button" class="btnFacturacion btn-labeledFac btn-azul">
  <span class="btn-labelFacturacion"><i class="fa fa-minus"></i></span>Quitar
</button>