<div class="">
    <h1 class="tituloDentro">Paquetes de facturación</h1>
    <div class="row" style="margin-right: 0;">

        <div class="col-md-1 col-lg-1 col-xl-1">

        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
            <div class="cajaPrecioTituloColorP2">
                <span class="cajaPrecioIcon"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                <p class="cajaPreciosTitulo">Paquete Básico</p>
                <p class="cajaPreciosSubTitulo">$150.00 MX</p>
            </div>
            <div>
                <p class="cajaPrecioIndicaciones">Timbres CFDI - 100 timbres(por mes)</p>

                <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                <p class="cajaPrecioIndicaciones">Validaciones</p>

                <p class="cajaPrecioIndicaciones">Soporte</p>

                <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>

                <div style="border-top: black solid 2.5px;padding-bottom: 0;margin-bottom: 0;">
                    <button class="btn btn-block btn-success" style="height: 100%">Comprar</button>
                </div>

            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
            <div class="cajaPrecioTituloColorP3">
                <span class="cajaPrecioIcon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                <p class="cajaPreciosTitulo">Paquete Mediano</p>
                <p class="cajaPreciosSubTitulo">$280.00 MX</p>
            </div>
            <div>
                <p class="cajaPrecioIndicaciones">Timbres CFDI - 200 Timbres(por mes)</p>

                <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                <p class="cajaPrecioIndicaciones">Validaciones</p>

                <p class="cajaPrecioIndicaciones">Soporte</p>

                <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>

                <div style="border-top: black solid 2.5px;padding-bottom: 0;margin-bottom: 0;">
                    <button class="btn btn-block btn-success" style="height: 100%">Comprar</button>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
            <div class="cajaPrecioTituloColorP4">
                <span class="cajaPrecioIcon"><i class="fa fa-fighter-jet" aria-hidden="true"></i></span>
                <p class="cajaPreciosTitulo">Paquete Grande</p>
                <p class="cajaPreciosSubTitulo">$480.00 MX</p>
            </div>
            <div>
                <p class="cajaPrecioIndicaciones">Timbres CFDI - 400 Timbres(por mes)</p>

                <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                <p class="cajaPrecioIndicaciones">Validaciones</p>

                <p class="cajaPrecioIndicaciones">Soporte</p>

                <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>

                <div style="border-top: black solid 2.5px;padding-bottom: 0;margin-bottom: 0;">
                    <button class="btn btn-block btn-success" style="height: 100%">Comprar</button>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
            <div class="cajaPrecioTituloColorP5">
                <span class="cajaPrecioIcon"><i class="fa fa-rocket" aria-hidden="true"></i></span>
                <p class="cajaPreciosTitulo">Paquete Premium</p>
                <p class="cajaPreciosSubTitulo">$600.00 MX</p>
            </div>
            <div>
                <p class="cajaPrecioIndicaciones">Timbres CFDI - 600 Timbres(por mes)</p>

                <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                <p class="cajaPrecioIndicaciones">Validaciones</p>

                <p class="cajaPrecioIndicaciones">Soporte</p>

                <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>

                <div style="border-top: black solid 2.5px;padding-bottom: 0;margin-bottom: 0;">
                    <button class="btn btn-block btn-success" style="height: 100%">Comprar</button>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
            <div class="cajaPrecioTituloColorP6">
                <span class="cajaPrecioIcon"><i class="fa fa-times" aria-hidden="true"></i></span>
                <p class="cajaPreciosTitulo">Paquete Xmaz</p>
                <p class="cajaPreciosSubTitulo">Contacte con Xmaz</p>
            </div>
            <div>
                <p class="cajaPrecioIndicaciones">Timbres CFDI <b>+1000</b>(Libres) paquete Xmaz</p>

                <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                <p class="cajaPrecioIndicaciones">Validaciones</p>

                <p class="cajaPrecioIndicaciones">Soporte</p>

                <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>

                <div style="border-top: black solid 2.5px;padding-bottom: 0;margin-bottom: 0;">
                    <button class="btn btn-block btn-success" style="height: 100%">Comprar</button>
                </div>
            </div>

            <div class="col-md-1 col-lg-1 col-xl-1">

            </div>

        </div>

    </div>
    <div>
        <h3 class="preciosIva">*Todos nuestros precios en MXN e incluyen IVA</h3>
    </div>
</div>