<div class="fondoB">
    <div class="bannerFacturacionAvisoPrivacidadBanner">
        <div class="centrado tcenter pt10">
            <h1 class="inicioBannerTitulo">Aviso de privacidad Xmaz</h1>
        </div>
    </div>

    <div>
        <h1 class="tituloDentro">Aviso de privacidad</h1>
        <p class="avisoPrivacidadParrafo">
            Xmaz es una empresa legalmente constituida conforme a las Leyes Mexicanas, que presta el servicio de Software de Administración vía web y emite el presente documento de “Aviso de Privacidad” conforme a lo establecido por la Ley Federal de Protección de
            Datos personales en Posesión de Particulares vigente, publicada en el DOF del día 05 de Julio de 2010.
        </p>

        <p class="avisoPrivacidadParrafo">
            En Xmaz, somos respetuosos de la privacidad de los datos personales, que con motivo de la prestación de servicios de Software de Administración Vía Web, la información es tratada conforme a lo establecido por la citada Ley; Declarando ser la entidad responsable
            conforme a dichos lineamientos, que tiene su domicilio en: Calle Veracruz #1136 Mazatlán Sinaloa, en virtud de tal ordenamiento emite el presente documento
        </p>

        <p class="avisoPrivacidadParrafo">
            La plataforma de Xmaz, cuenta con altos estándares de seguridad de la información, incluyendo el adecuado tratamiento a su información personal conforme a lo establecido por la Ley de Protección de Datos Personales en Posesión de Particulares y demás
            Leyes Fiscales.
        </p>

        <p class="avisoPrivacidadParrafo">
            Responsable de la protección de sus datos personales: Xmaz
        </p>

        <h3 class="avisoPrivacidadTitulo">Cómo Contactarnos:</h3>

        <p class="avisoPrivacidadParrafo">
            Encargado de la privacidad: Daniel Bautista Urrenda.
        </p>

        <p class="avisoPrivacidadParrafo">
            Domicilio: Calle Veracruz #1136 Mazatlán Sinaloa, Col. Sanchez Celis, C.P. 82000, Mazatlán, Sinaloa.
        </p>

        <p class="avisoPrivacidadParrafo">
            Correo electrónico: contacto@xmaz.mx
        </p>

        <p class="avisoPrivacidadParrafo">
            Teléfono: (55)52-45-13-03
        </p>

        <h3 class="avisoPrivacidadTitulo">¿Para qué fines recabamos y utilizamos sus datos personales?</h3>

        <p class="avisoPrivacidadParrafo">
            Sus datos personales serán utilizados para las siguientes finalidades:
        </p>

        <p class="avisoPrivacidadParrafo">
            Proveer el servicio de Software de Administración vía web; Informar sobre cambios o nuevos productos o servicios que estén relacionados con el contratado adquirido por el cliente; Dar cumplimiento a obligaciones contraídas con nuestros clientes; Evaluar
            la calidad del servicio, y Realizar estudios internos sobre hábitos de consumo
        </p>

        <h3 class="avisoPrivacidadTitulo">¿Qué datos personales obtenemos y de dónde?</h3>

        <p class="avisoPrivacidadParrafo">
            Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos personales de distintas formas: cuando usted nos los proporciona directamente; cuando visita nuestro sitio de Internet o utiliza nuestros servicios en línea,
            y cuando obtenemos información a través de otras fuentes que están permitidas por la ley.
        </p>

        <h3 class="avisoPrivacidadTitulo">Datos personales que recabamos de forma directa</h3>

        <p class="avisoPrivacidadParrafo">
            Recabamos sus datos personales de forma directa cuando usted mismo nos los proporciona por diversos medios, como cuando participa en nuestras promociones o nos da información con objeto de que le prestemos un servicio. Los datos que obtenemos por este
            medio pueden ser, entre otros:
        </p>

        <div class="avisoPrivacidadParrafo">
            <ul>
                <li>Razón Social</li>
                <li>RFC</li>
                <li>Dirección</li>
                <li>Datos personales sensibles</li>
            </ul>
        </div>

        <p class="avisoPrivacidadParrafo">
            Le informamos que, para cumplir con las finalidades previstas en este aviso de privacidad, serán recabados y tratados datos personales sensibles, como aquéllos que refieren a las contraseñas de Firma electrónica y Sellos digitales, así como archivos digitales.
        </p>

        <p class="avisoPrivacidadParrafo">
            Nos comprometemos a que los mismos serán tratados bajo las más estrictas medidas de seguridad que garanticen su confidencialidad.
        </p>

        <h3 class="avisoPrivacidadTitulo">¿Cómo puede limitar el uso o divulgación de sus datos personales?</h3>

        <p class="avisoPrivacidadParrafo">
            Usted puede dejar de recibir mensajes promocionales por teléfono fijo o celular siguiendo los siguientes pasos.
        </p>

        <p class="avisoPrivacidadParrafo">
            Vía correo electrónico haciéndonos la petición.
        </p>

        <h3 class="avisoPrivacidadTitulo">¿Cómo acceder o rectificar sus datos personales o cancelar u oponerse a su uso?</h3>

        <p class="avisoPrivacidadParrafo">
            Usted tiene derecho de acceder a sus datos personales que poseemos y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos o incompletos; cancelarlos cuando considere que no se requieren para alguna de las finalidades
            señalados en el presente aviso de privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación contractual o de servicio, o bien, oponerse al tratamiento de los mismos para fines específicos.
        </p>

        <p class="avisoPrivacidadParrafo">
            Los mecanismos que se han implementado para el ejercicio de dichos derechos son a través de la presentación de la solicitud respectiva por correo electrónico o por teléfono
        </p>

        <h3 class="avisoPrivacidadTitulo">Modificaciones al aviso de privacidad</h3>

        <p class="avisoPrivacidadParrafo">
            Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros
            servicios o productos.
        </p>

        <p class="avisoPrivacidadParrafo">
            Estas modificaciones estarán disponibles al público a través de <a href="www.xmaz.mx">www.xmaz.mx</a>
        </p>

        <h3 class="avisoPrivacidadTitulo">¿Ante quién puede presentar sus quejas y denuncias por el tratamiento indebido de sus datos personales?</h3>

        <p class="avisoPrivacidadParrafo" style="padding-bottom: 50px;">
            Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta de nuestros empleados o de nuestras actuaciones o respuestas, presume que en el tratamiento de sus datos personales existe alguna violación a las
            disposiciones previstas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, podrá interponer la queja o denuncia correspondiente ante el IFAI, para mayor información visite www.ifai.org.mx
        </p>

    </div>
</div>