<app-menu style="display: none;"></app-menu>

<div class="fondoB" style="height: auto">
    <app-slider-publicidad></app-slider-publicidad>

    <dx-toolbar onclick=" 
    if($('#catalogos').hasClass('agregarHide')){
        $('#catalogos').removeClass('agregarHide')
    }else{
        $('#catalogos').addClass('agregarHide')
    }" [items]="toolbarContent"></dx-toolbar>

    <dx-drawer [openedStateMode]="selectedOpenMode" [position]="selectedPosition" [revealMode]="selectedRevealMode" [opened]="true" [closeOnOutsideClick]="true">
        <div class="container-fluid row" style="padding-right: 0;">
            <div id="catalogos" class="col-md-2 noPaddingExt" style="background: #337AB7; height: auto;">
                <div *ngFor="let item of navigation" class="itemAdminDashInd">
                    <span *ngIf="item.text != 'Cerrar Sesion'" (click)="mostrarCatalogo(item.text)" class="itemDashboard"><li class="{{item.icon}} itemIcon"></li>{{item.text}}</span>
                    <span *ngIf="item.text == 'Cerrar Sesion'" data-toggle="modal" data-target="#exampleModalCenter" class="itemDashboard"><li class="{{item.icon}} itemIcon"></li>{{item.text}}</span>
                </div>
            </div>
            <div class="col-md-10">
                <div *ngIf="text == 'Inicio'">
                    <app-dashboard></app-dashboard>
                </div>
                <div *ngIf="text == 'Empresa'">
                    <app-empresa-alta></app-empresa-alta>
                </div>
                <div *ngIf="text == 'Clientes'">
                    <app-clientes-facturcion></app-clientes-facturcion>
                </div>
                <div *ngIf="text == 'Facturacion'">
                    <app-facturacion-facturacion></app-facturacion-facturacion>
                </div>
                <div *ngIf="text == 'Nominas'">
                    <app-nominas-facturacion></app-nominas-facturacion>
                </div>
                <div *ngIf="text == 'Addendas'">
                    <!-- <app-productos-fact></app-productos-fact> -->
                    <app-nominas-facturacion></app-nominas-facturacion>
                </div>
                <div *ngIf="text == 'Productos'">
                    <app-productos-facturacion></app-productos-facturacion>
                </div>
                <div *ngIf="text == 'Reporte'">
                    <app-reportes-facturacion></app-reportes-facturacion>
                </div>
                <div *ngIf="text == 'Folios'">
                    <app-paquetes-facturacion></app-paquetes-facturacion>
                </div>
                <div *ngIf="text == 'Cuenta'">
                    <app-cuenta-usuario-facturacion></app-cuenta-usuario-facturacion>
                </div>
                <div *ngIf="text == 'Ayuda'">
                    <app-ayuda-facturacion></app-ayuda-facturacion>
                </div>

            </div>
        </div>
    </dx-drawer>
</div>

<!-- Modan automaticos -->
<app-modal-automatico></app-modal-automatico>

<!-- modal empresa -->
<div class="modal fade" id="modalEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Empresa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="fondoB">
                    <form (ngSubmit)="actualizarEmpresa()">
                        <aw-wizard>
                            <aw-wizard-step stepTitle="Datos generales" style="height: 800px;">
                                <div class="container">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Nombre de la empresa</label>
                                            <input [(ngModel)]="empresa.emp_nomempresa" name="emp_nomempresa" type="text" required="required" class="inputCliente" placeholder="Ingrese el nombre(s) " />
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label">Razon social</label>
                                            <input [(ngModel)]="empresa.emp_razonsocial" name="emp_razonsocial" type="text" required="required" class="inputCliente" placeholder="Ingrese el nombre(s) " />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label class="control-label">Dirección</label>
                                            <input [(ngModel)]="empresa.emp_direccion" name="emp_direccion" maxlength="50" type="text" required="required" class="inputCliente" placeholder="Ingrese la direcció" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Num int</label>
                                            <input [(ngModel)]="empresa.emp_numInt" name="emp_numInt" maxlength="5" type="text" required="required" class="inputCliente" placeholder="Ingrese el numero interior" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Num Ext</label>
                                            <input [(ngModel)]="empresa.emp_numExt" name="emp_numExt" type="text" class="inputCliente" placeholder="Ingrese el numero exterior" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Colonia</label>
                                            <input [(ngModel)]="empresa.emp_colonia" name="emp_colonia" type="text" required="required" class="inputCliente" placeholder="Ingrese la colonia" />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label class="control-label">País</label>
                                            <input [(ngModel)]="empresa.emp_pais" name="emp_pais" type="text" value="Mazatlán" required="required" class="inputCliente" placeholder="Ingrese el País" />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label class="control-label">Estado</label>
                                            <select [(ngModel)]="empresa.emp_estado" name="emp_estado" id="inputState " class="inputCliente " class="inputCliente" required>
                                              <option value="">Seleccione un Estado</option>
                                              <option *ngFor="let estado of listaEstado" [value]="estado">{{estado}}</option>
                                          </select>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label class="control-label">Municipio</label>
                                            <input [(ngModel)]="empresa.emp_municipio" name="emp_municipio" type="text" value="Mazatlán" required="required" class="inputCliente" placeholder="Ingrese el municipio" />
                                        </div>


                                        <div class="form-group col-md-3">
                                            <label class="control-label">Localidad</label>
                                            <input [(ngModel)]="empresa.emp_localidad" name="emp_localidad" type="text" value="Mazatlán" required="required" class="inputCliente" placeholder="Ingrece la localidad" />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label class="control-label">Codigo postal</label>
                                            <input [(ngModel)]="empresa.emp_cp" name="emp_cp" type="number" value="Sinaloa" required="required" class="inputCliente" placeholder="Ingrese el codigo postal" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label">RFC</label>
                                            <input [ngModel]="empresa.emp_rfc | uppercase" name="emp_rfc" (ngModelChange)="empresa.emp_rfc=$event" type="text" required="required" class="inputCliente" placeholder="Ingrese el RFC" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Correo electronico</label>
                                            <input disabled [(ngModel)]="empresa.emp_email" name="emp_email" type="email" required="required" class="inputCliente" placeholder="Ingrese el correo electronico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Telefono</label>
                                            <input [(ngModel)]="empresa.emp_telefono" name="emp_telefono" type="tel" class="inputCliente" placeholder="Ingrese el telefono" pattern="[0-9]{10}" />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="inputState " class="labelCliente ">Regimen Fiscal</label>
                                            <select id="inputState" class="form-control" class="inputCliente" [(ngModel)]="empresa.emp_regimenfiscal_codigo" name="emp_regimenfiscal_codigo">
                                                    <option value="">Seleccione un Regimen fiscal</option>
                                                    <option *ngFor="let regimen of regimenFiscal" value="{{regimen.regimen_codigo}}"> {{regimen.regimen_nombre}} </option>
                                                </select>
                                        </div>


                                        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                                            <label class="labelCliente">Logo de empresa</label>
                                            <input [(ngModel)]="empresa.emp_logo" name="emp_logo" type="file" id="file" (change)="onFileChange()" />

                                            <div style="width: 150px; height: 150px;">
                                                <img id="imagePreview" src="" alt="" style="width: 150px; height: 150px;">
                                                <!-- <img style="width: 150px; height: 150px;" src="" alt="No cargo la imagen"> -->
                                            </div>
                                        </div>




                                    </div>

                                    <div class="centrado tcenter">
                                        <button type="button" class="btnFacturacion btn-labeledFac btn-azul" awNextStep>
                                            <span class="btn-labelFacturacion"><i class="fa fa-arrow-right"></i></span>Siguiente
                                          </button>
                                    </div>
                                </div>

                            </aw-wizard-step>

                            <aw-wizard-step stepTitle="Certificados" awOptionalStep style="height: 600px;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <label>Llave</label>
                                            <input [(ngModel)]="configuracion.emp_llave" name="emp_llave" (change)="onLlaveChange()" type="file" id="llave" />
                                        </div>
                                        <div class="col-md-6">

                                            <label>Certificado</label>
                                            <input [(ngModel)]="configuracion.emp_certificado" name="emp_certificado" (change)="onCertificadoChange()" type="file" id="certificado" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Contraseña llave privada</label>
                                            <input [(ngModel)]="configuracion.emp_password" name="emp_password" type="password" class="inputCliente" placeholder="Ingrese la contrasella de llave privada" />
                                        </div>

                                        <div class="col-md-12">
                                            <label for="control-label">Licencia del producto</label>
                                            <textarea [(ngModel)]="configuracion.emp_licencia" name="emp_licencia" id="" cols="10000" rows="10" style="width: 100%"></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="centrado tcenter">
                                    <button type="button" class="btnFacturacion btn-labeledFac btn-azul" awPreviousStep>
                                        <span class="btn-labelFacturacion"><i class="fa fa-arrow-left"></i></span>Anterior
                                    </button>
                                    <button type="button" class="btnFacturacion btn-labeledFac btn-azul" awNextStep>
                                        <span class="btn-labelFacturacion"><i class="fa fa-arrow-right"></i></span>Siguiente
                                    </button>
                                </div>
                            </aw-wizard-step>

                            <aw-wizard-step stepTitle="Guardar" style="height: 600px;">
                                <div>
                                    <button type="button" type="submit" class="btnFacturacion btn-labeledFac btn-azul" onclick="$('#modalEmpresa').modal('hide')">
                                        <span class="btn-labelFacturacion"><i class="fa fa-floppy-o"></i></span>Guardar
                                    </button>
                                    <button type="button" class="btnFacturacion btn-labeledFac btn-azul" data-toggle="modal" data-target="#modalCancelarConfiguracion">
                                        <span class="btn-labelFacturacion"><i class="fa fa-ban"></i></span>Cancelar
                                    </button>
                                </div>

                                <div class="centrado tcenter">
                                    <button type="button" class="btnFacturacion btn-labeledFac btn-azul" awPreviousStep>
                                        <span class="btn-labelFacturacion"><i class="fa fa-arrow-left"></i></span>Anterior
                                      </button>
                                </div>
                            </aw-wizard-step>

                        </aw-wizard>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cancelar registro de la empresa -->
<div class="modal fade" id="modalCancelarConfiguracion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">¿Deseas cancelar?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>¿Desea cancelar el registro de la empresa?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="$('#modalCancelarConfiguracion').modal('hide')">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Cerrar sesion -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-titulo-gral" id="exampleModalCenterTitle">Cerrar sesión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                ¿Deseas cerrar sesión?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="cerrarSesion()">Aceptar</button>
            </div>
        </div>
    </div>
</div>