.reportesTituloGral {
    color: red;
    font-size: 2rem;
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.reportesPadding {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}