<app-menu></app-menu>

<div class="fondoB">

    <div class="bannerFacturacionPreciosBanner">
        <div class="centrado tcenter pt10">
            <h1 class="inicioBannerTitulo">Facturar nunca fue tan economico</h1>
            <h5 class="inicioBannerSubTitulo">Factura de la manera más fácil y economica del mercado</h5>
        </div>
    </div>

    <div class="pLados paddingBoto100">
        <h1 class="tituloDentro">Paquetes de facturación</h1>
        <div class="row">

            <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
                <div class="cajaPrecioTituloColorP1">
                    <span class="cajaPrecioIcon"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <p class="cajaPreciosTitulo">Paquete gratis</p>
                    <p class="cajaPreciosSubTitulo">$0.00 MX</p>
                </div>
                <div>
                    <p class="cajaPrecioIndicaciones">Timbres CFDI - 5 timbres(por mes)</p>

                    <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                    <p class="cajaPrecioIndicaciones">Validaciones</p>

                    <p class="cajaPrecioIndicaciones">Soporte</p>

                    <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
                <div class="cajaPrecioTituloColorP2">
                    <span class="cajaPrecioIcon"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                    <p class="cajaPreciosTitulo">Paquete Básico</p>
                    <p class="cajaPreciosSubTitulo">$150.00 MX</p>
                </div>
                <div>
                    <p class="cajaPrecioIndicaciones">Timbres CFDI - 100 timbres(por mes)</p>

                    <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                    <p class="cajaPrecioIndicaciones">Validaciones</p>

                    <p class="cajaPrecioIndicaciones">Soporte</p>

                    <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
                <div class="cajaPrecioTituloColorP3">
                    <span class="cajaPrecioIcon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                    <p class="cajaPreciosTitulo">Paquete Mediano</p>
                    <p class="cajaPreciosSubTitulo">$280.00 MX</p>
                </div>
                <div>
                    <p class="cajaPrecioIndicaciones">Timbres CFDI - 200 Timbres(por mes)</p>

                    <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                    <p class="cajaPrecioIndicaciones">Validaciones</p>

                    <p class="cajaPrecioIndicaciones">Soporte</p>

                    <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
                <div class="cajaPrecioTituloColorP4">
                    <span class="cajaPrecioIcon"><i class="fa fa-fighter-jet" aria-hidden="true"></i></span>
                    <p class="cajaPreciosTitulo">Paquete Grande</p>
                    <p class="cajaPreciosSubTitulo">$480.00 MX</p>
                </div>
                <div>
                    <p class="cajaPrecioIndicaciones">Timbres CFDI - 400 Timbres(por mes)</p>

                    <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                    <p class="cajaPrecioIndicaciones">Validaciones</p>

                    <p class="cajaPrecioIndicaciones">Soporte</p>

                    <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
                <div class="cajaPrecioTituloColorP5">
                    <span class="cajaPrecioIcon"><i class="fa fa-rocket" aria-hidden="true"></i></span>
                    <p class="cajaPreciosTitulo">Paquete Premium</p>
                    <p class="cajaPreciosSubTitulo">$600.00 MX</p>
                </div>
                <div>
                    <p class="cajaPrecioIndicaciones">Timbres CFDI - 600 Timbres(por mes)</p>

                    <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                    <p class="cajaPrecioIndicaciones">Validaciones</p>

                    <p class="cajaPrecioIndicaciones">Soporte</p>

                    <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 cajaPrecios noPaddingExt">
                <div class="cajaPrecioTituloColorP6">
                    <span class="cajaPrecioIcon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <p class="cajaPreciosTitulo">Paquete Xmaz</p>
                    <p class="cajaPreciosSubTitulo">Contacte con nostros</p>
                </div>
                <div>
                    <p class="cajaPrecioIndicaciones">Timbres CFDI <b>+1000</b>(Libres)</p>

                    <p class="cajaPrecioIndicaciones">Pre-Facturas </p>

                    <p class="cajaPrecioIndicaciones">Validaciones</p>

                    <p class="cajaPrecioIndicaciones">Soporte</p>

                    <p class="cajaPrecioIndicacionesFinal">Vigencia ilimitada</p>
                </div>
            </div>

        </div>
        <div>
            <h3 class="preciosIva">*Todos nuestros precios en MXN e incluyen IVA</h3>
        </div>
    </div>


</div>

<app-footer></app-footer>