<footer>
    <div id="container-footer-all">
        <div id="container-body">
            <div class="columna-1">
                <h2>Más infromación de la compañia</h2>
                <p>Somos una empresa líder de servicios profesionales especializada y apasionada en tecnologías, ofreciendo soluciones y llevando a cabo tus proyectos con el fin de ayudar a crecer tus ideas y así, brindar una experiencia única con nuestro
                    trabajo adaptándonos a tus necesidades.</p>
            </div>
            <div class="columna-2">
                <h2>Redes Sociales</h2>
                <div class="raw">
                    <i class="fab fa-facebook-square fb" aria-hidden="true"></i>
                    <a href="https://www.facebook.com/xmazsystems" target="_blank">Síguenos en Facebook</a>
                </div>
                <div class="raw">
                    <i class="fab fa-facebook-square fb" aria-hidden="true"></i>
                    <a href="https://www.facebook.com/xmazsystems" target="_blank">Síguenos en Facebook</a>
                </div>
                <div class="raw">
                    <i class="fab fa-facebook-square fb" aria-hidden="true"></i>
                    <a href="https://www.facebook.com/xmazsystems" target="_blank">Síguenos en Facebook</a>
                </div>
            </div>
            <div class="columna-3">
                <h2>Atención a clientes</h2>
                <div class="raw2">
                    <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                    <a href="tel:6696687711">(669) 668 7711</a>
                </div>
                <div class="raw2">
                    <i class="far fa-envelope" aria-hidden="true"></i>
                    <a href="mailto:info@xmaz.mx" target="_blank">info@xmaz.mx</a>
                </div>
            </div>
        </div>
    </div>
    <div id="container-footer">
        <div class="footer">
            <div class="copyright">
                © 2019 Todos los derechos reservados |
                <a href="http://www.xmaz.mx">Xmaz</a>
            </div>
            <div class="aviso-privacidad">
                <a href="">Aviso de privacidad</a>
            </div>
        </div>
    </div>
</footer>