<div id="modalAutomatic" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modalAutoTitulo">Xmaz Noticias</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <span class="modalAutoSpan">Recibe 5 folios de cortesia por mes</span>
                <p class="modalAutoParrafo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minus possimus vel dignissimos, nihil nesciunt dolorem. Dolorum suscipit voluptas provident! Reiciendis odio vel pariatur quidem, facilis assumenda animi enim dolorem, blanditiis doloremque
                    aperiam officia. Veritatis laudantium placeat numquam, dolorum tenetur tempore, sed consequuntur officiis odio consequatur doloremque iusto similique quia.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>