<app-menu></app-menu>

<div class="fondoB">
    <div class="bannerFacturacionBanner">
        <div class="centrado tcenter pt10">
            <h1 class="inicioBannerTitulo">Facturar nunca fue tan fácil</h1>
            <h5 class="inicioBannerSubTitulo">Trabaja con nosotros y cumple con todos los requistos del SAT</h5>
        </div>
    </div>

    <div class="container-fluid">
        <h1 class="tituloDentro">Ventajas de facturar con Xmaz</h1>
        <div class="row pLados">

            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-check" aria-hidden="true"></i></span>
                <h2 class="inicioVentajasTitulo">Sencillo</h2>
                <p class="inicioVentajasParrafo">
                    <span>
                        Sin instalaciones. La interfaz intuitiva y los catálogos de productos te permiten emitir facturas fácil y rápido.
                    </span>
                </p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                <h2 class="inicioVentajasTitulo">Actualizado</h2>
                <p class="inicioVentajasParrafo">
                    <span>
                        Sin costo para los usuarios, mantenemos el sistema actualizado para que las facturas emitidas cumplan con lo que pide la ley (SAT)
                    </span>
                </p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                <h2 class="inicioVentajasTitulo">Completo</h2>
                <p class="inicioVentajasParrafo">
                    <span>
                        Emite todos los tipos de comprobantes fiscales digitales y envíalos a tus clientes. Valida también tus facturas recibidas.
                    </span>
                </p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <h2 class="inicioVentajasTitulo">Seguro</h2>
                <p class="inicioVentajasParrafo">
                    <span>
                        El sistema esta protegido con las mejores practicas de seguridad de sistemas en la nube. Emisión y respaldo seguros.
                    </span>
                </p>
            </div>

        </div>

    </div>

    <div class="container-fluid inicioBannerSeparado2 marginBoTo50">
        <div class="row divTopBanner">

            <div class="col-md-8 col-xl-8 col-lg-8">
                <h2 class="inicioBannerTituloM100">Te mejoramos hasta un 20% en costos de timbrado</h2>
                <h5 class="inicioBannerSubTituloM100">(aplican restricciones)</h5>
            </div>

            <div class="col-md-4 col-xl-4 col-lg-4">
                <button class="inicioBannerButtonM100" [routerLink]="['/xmazFacturacionContacto']" onclick="subir()">Contactanos</button>
            </div>

        </div>
    </div>

    <div class="container">
        <h1 class="tituloDentro">Características del Servicio</h1>
        <div class="row paddingBotton">

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Facturas con logo</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Para que des una imagen profesional.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-list-ol" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Series y folios</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Para que controles fácilmente tus facturas.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Banco de clientes</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Para que no tengas que capturar su información cada vez.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-file-code-o" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Addendas</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Por si algunos de tus clientes requiere alguna especial.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Pagos</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Para que registres los ingresos productos del cobro de tus facturas.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Reportes</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>De Impuestos para entregar a tu contador y cuentas por cobrar para dar seguimiento a tus clientes.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Pre-facturas</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Para que las uses como cotizaciones.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-check" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Validacion de facturas recibidas</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Para que valides si las facturas de tus proveedores cumplen con la leyl.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-ban" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Cancelación directa</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Por si necesitas cancelar alguna factura, puedes hacerlo directo en el sistema.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Portal de clientes</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Para que tus clientes puedan ver sus facturas en línea y las descarguen si quieren.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Respaldo</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Almacenamos tus facturas emitidas por tiempo ilimitado para que las puedas descargar después.</span>
                </p>
            </div>

            <div class="col md-4 col-lg-4 col-xl-4">
                <span class="inicioCaracteristicasIcon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                <h2 class="inicioCaracteristicasTitulo">Envio al correo electronico</h2>
                <p class="inicioCaracteristicasSubTitulo">
                    <span>Por si necesitas enviar una factura via correo electronico.</span>
                </p>
            </div>

        </div>

    </div>

    <div class="container-fluid fondoA paddingBoto50">
        <div class="row">

            <div class="col-md-8 col-lg-8 col-xl-8">
                <h2 class="inicioBannerTituloM100"> Paquetes especiales si son menos de 100 timbres mensuales</h2>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4">
                <button class="inicioBannerButtonM100" [routerLink]="['/xmazFacturacionContacto']" onclick="subir()">Contactanos</button>
            </div>

        </div>
    </div>

    <div class="paddingBoto25 marginBotton">
        <h1 class="tituloDentro">¿Por qué trabjar con nosotros?</h1>
        <div class="row noMarginExt pLados">

            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                <h3 class="inicioIconTituloTrabaja">+5 años de experiencia</h3>
                <p class="inicioIconSubTituloTrabaja">
                    Conocemos perfectamente las necesidades de nuestros clientes y el nivel de servicio que necesitan.
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                <h3 class="inicioIconTituloTrabaja">Sin contratos forzosos</h3>
                <p class="inicioIconSubTituloTrabaja">
                    <b>Xmaz</b> no obliga a los clientes el contar con un contrato forzoso, se negocia y se llega al mejor contrato para ambas partes.
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-usd" aria-hidden="true"></i></span>
                <h3 class="inicioIconTituloTrabaja">Realiza pruebas sin costos</h3>
                <p class="inicioIconSubTituloTrabaja">
                    Solicita una demostración personalizada sin costo o vía remota.
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <h3 class="inicioIconTituloTrabaja">Timbres sin caducidad y cancelación sin costo</h3>
                <p class="inicioIconSubTituloTrabaja">
                    Todas las Cancelaciones de facturas y recibos GRATIS, ahorro monetario en timbres que se caducan.
                </p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-life-ring" aria-hidden="true"></i></span>
                <h3 class="inicioIconTituloTrabaja">Soporte</h3>
                <p class="inicioIconSubTituloTrabaja">
                    Siempre dispuesto para ayudarte en algún fallo o error del sistema.
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                <h3 class="inicioIconTituloTrabaja">Actualización SAT</h3>
                <p class="inicioIconSubTituloTrabaja">
                    Actualizamos nuestros softwares tras actualización del SAT.
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-cog" aria-hidden="true"></i></span>
                <h3 class="inicioIconTituloTrabaja">Rapido y sencillo</h3>
                <p class="inicioIconSubTituloTrabaja">
                    Comienza a facturar de la manera más rápida y más sencilla.
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <span class="inicioIconTrabaja"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <h3 class="inicioIconTituloTrabaja">100% seguros</h3>
                <p class="inicioIconSubTituloTrabaja">
                    Contamos con un sistema que incluye seguridad, tus datos están protegidos.
                </p>
            </div>

        </div>
    </div>

    <div class="container-fluid inicioBannerFinal">
        <div>
            <h1 class="inicioBannerTituloFinal">Empieza a facturar</h1>
            <button class="inicioBannerButtonM100" routerLink="/XmazRegistro" onclick="subir()">Registrate</button>
        </div>
    </div>

</div>

<app-footer></app-footer>